:root {
    --color-verde: #c2d055;
    --color-grey: #a9a9a9;
    --color-fondo: #f4f4f4;
    --color-menu_superiores: #4dabe8;
    --color-texto-detail: #848484;
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
    
}